@page "/uselessfacts"
@using FactServerBlazor.Components.Services
@rendermode InteractiveServer
@inject FactServer FactServer

<PageTitle>Random Useless Facts</PageTitle>

<h1>Random Useless Facts</h1>

@if (_fact == null && _image== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <p>@_fact</p>
    @if (!string.IsNullOrEmpty(_image))
    {
        <img src="data:image/png;base64,@_image" alt="Generated image" style="max-width:400px;" />
    }
    <button class="btn btn-primary" @onclick="LoadFact" style="margin-top: 15px;">Get Another Fact</button>
}

@code {
    private string? _fact;
    private string? _image;

    protected override async Task OnInitializedAsync()
    {
        await LoadFact();
    }

    private async Task LoadFact()
    {
        try
        {
            _fact = await FactServer.GetRandomFact();
            Console.WriteLine(_fact);
            if (_fact != string.Empty)
            {
              _image = await FactServer.GetImageServer(_fact);
            }
        }
        catch (Exception ex)
        {
            _fact = $"Could not load fact: {ex.Message}";
            _image = null;
        }
    }
}